.card-component {
  background-color: #fff;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.7rem;
  height: 650px;
  width: 600px;
  transition: transform .3s;
}

.card-component:hover{
  transform: scale(1.1);
}

.img-container{
}

.card-img {
  object-fit: contain;
  width: 100%;
  border-radius: 1rem;
  border-color: black;
  object-position: center;
}

.card-info-container {
  border-top: .13rem;
  border-color: rgb(80, 80, 80);
  border-style: solid none none none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}