.card-component {
  background-color: #fff;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.7rem;
  height: 400px;
  width: 400px;
  transition: transform .3s;
}
.card-component:hover{
  transform: scale(1.1);
}


.card-img {
width: 100%;
height: 15rem;
object-fit: cover;
border-radius: 1rem;
border-color: black;
object-position: center;

}

.card-info-container {
  border-top: .13rem;
  border-color: rgb(80, 80, 80);
  border-style: solid none none none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}