.card-component {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 600px;
  color: white;
  margin: 20px;
  transition: 0.3s;
  text-align: center;
  align-items: center;
  contain: content;
  box-shadow: 0.5rem 0.5rem 0.7rem rgb(190, 190, 190);
}
.card-component:hover {
  transform: scale(1.1);
}
.card-img-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.card-img {
  height: 18rem;
  width: 32rem;
}

.card-info-container {
  border: 2p solid pink;
}

.card-info-title {
  margin-top: 0.5rem;
}
.card-description {
  text-indent: 3rem;
}

/* TECH USED ICON IMAGES */
.icon-container {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icon-title {
  margin-left: 10px;
  margin-right: 10px;
}

.icon-image {
  margin-right: 5px;
  margin-bottom: 5px;
}

.github-icon-label {
  text-decoration: none;
}
.github-icon-container {
  position: absolute;
  bottom: 3rem;
  margin-bottom: 1rem;
}

.github-icon {
  transition: 0.2s;
}

.github-icon:hover {
  transform: scale(1.3);
}
