.exp-page-container {
  display: grid;
  width: 50%;
  margin: auto;
  margin-top: 10rem;
}

.exp-card {
  text-align: center;
  width: 30rem;
  height: auto;
  overflow: wrap;
  margin: 4rem;
}

.exp-story {
  text-align: center;
  font-size: 1.2rem;
  color: white;
}
