.footer-container {
  text-align: center;
  margin-top: 60px;
  position: static;
  bottom: 0;
  width: 100%;
}

.social-icon{
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

a{
  text-decoration-line: none;
}