.homepage-container{
  overflow-y: scrollable;
  height: 100vh;
  width: 100vw;
}
.headerContainer{
  background-image: url("../../../images/backgroundImage.webp");
  position: relative;
  left: 0;
  right: 0;
  height: 100%;
}
.nameHeader{
  font-family: 'Otomanopee One', sans-serif;
  font-size: 52px;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding-top: 200px;
}
.headerSubtext{
  font-family: 'Otomanopee One', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  font-weight:800;
}

/* ADD SCROLL BUTTON ARROW TO SHOW YOU CAN SCROLL FOR CONTENT */
.scrollButton{
  background-color: red;
  height: 50px;
  width: 50px;
}


.aboutMe{
  height: 300px;
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: #464545;
  color: whitesmoke;
  border-bottom:black;
  border-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 50px;
}
.aboutHeader{
  padding-left: 120px;
  grid-column-start: 2;
  font-weight: bolder;
  font-size: 36px;
}
.headshot{
  grid-column-start: 1;
  height: 250px;
  border-radius: 50%;
  justify-self: center;
}
.aboutText{
  grid-column-start: 2;
  font-size: 18px;
  font-weight: 400;
}


.edu{
  height: 300px;
  color: rgb(46, 46, 46);
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: whitesmoke;
  align-content: center;
  border-bottom:black;
  border-width: 1px;
  border-bottom-style: solid;
}
.eduHeader{
  text-align: center;
  grid-column-start: 1;
}
.eduInfo{
  grid-column-start: 2;
  font-size: 18px;
  font-weight: 400;
}

.listElement{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}


.skills{
  height: 800px;
  color: rgb(46, 46, 46);
  position: relative;
  align-content: center;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: whitesmoke;
  border-bottom: thistle;
}
.skillsHeader{
  /* position: absolute; */
  text-align: center;
  grid-column-start: 1;

}
.skillsGraph{
  grid-column-start: 2;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.skill{
display: grid;
grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
.skillHeader{
  color: red;
}
.skillsBar{
  grid-column-start: 2;
}
.skillPercent{
  height: 20px;
  /* width: 200px; */
  grid-column-start: 1;
  background-color: black;
}