.homepage-container{
  display: grid;
  overflow-y: scrollable
}

.nameHeader{
  font-family: 'Otomanopee One', sans-serif;
  font-size: 48px;
  text-align: center;
  color: white;
  font-weight: bolder;
}

.headerSubtext{
  font-family: 'Otomanopee One', sans-serif;
  font-size: 24px;
  text-align: center;
  color: white;
  font-weight:800;
}

.scrollButton{
  color: white;
  height: 50px;
  width: auto;
}
