body {
  background-image: url("../src/images/backgroundImage.webp");
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  font-family: sans-serif;
  min-height: 100%;
}

code {
  font-family: 'Nunito Sans';
}
