body {
  background-color: rgb(41, 45, 49);
  /* background-image: url("./maybeContactPage.jpeg"); */
  overflow-x: hidden;
  margin: 0;
  font-family: 'Nunito Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: 'Nunito Sans';
}

.parent-container {
  position: relative;
  display: grid;
  place-items: center;
}