body {
  background-color: rgb(41, 45, 49);
  /* background-color: rgb(192, 198, 204); */
  overflow-x: hidden;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sans-serif;
}

.parent-container {
  display: grid;
  place-items: center;
}