.nav-container{
  position: relative;
  /* margin: auto; */
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}

.page-title-container{
  display: flex;
  margin: 0 1.7rem 0 1.7rem;

}
.page-title{
  color: black;
}

.nav-links-container{
  display: flex;

}
.nav-links{
  color: black;
  margin: 0 1.7rem 0 1.7rem;

}

h1{
  margin: 0;
}

/* 
position: absolute;
  margin-left: auto;
  max-width 1290 THEN SHRINK
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; */