.homepage-container{
  overflow-y: scrollable;
  height: 100vh;
  width: 100vw;
}
.headerContainer{
  position: relative;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
}
.section-header{
  padding-top: 5px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 2.7rem;
}
.nameHeader{
  font-family: 'Otomanopee One', sans-serif;
  font-size: 72px;
  text-align: center;
  color: white;
  font-weight: bolder;
  padding-top: 300px;
}
.name-title-header{
  font-family: 'Otomanopee One', sans-serif;
  color: white;
  font-size: 32px;
}

/* ADD SCROLL BUTTON ARROW TO SHOW YOU CAN SCROLL FOR CONTENT */
.scrollButton{
  background-color: red;
  height: 50px;
  width: 50px;
}

.aboutMe{
  text-align: center;
  background-color: #464545;
  color: whitesmoke;
  border-bottom:black;
  border-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 50px;
}

.aboutHeader{
  padding-top: 5px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-size: 2.7rem;
}

.headshot{
  height: 250px;
  border-radius: 50%;
}
.about-text-container{
  margin: auto;
  width: 80%;
  text-align: center;
}

.aboutText{
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  text-indent: 20px;
}

.edu{
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 13% 87%;
  height: 400px;
  color: rgb(46, 46, 46);
  position: relative;
  background-color: whitesmoke;
  align-content: center;
  text-align: center;
  border-bottom:black;
  border-width: 1px;
  border-bottom-style: solid;
}

.edu-title{
  font-size: 2.7rem;
  grid-column-start: 2;
  grid-row-start: 1;
}

.edu-school{
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: .2rem;
}

.edu-item1{
  grid-row-start: 2;
  grid-column-start: 3;
}

.edu-item1-image{
  height: 40%;
  width: auto;
}

.edu-item2-image{
  height: 40%;
  width: auto;
}

.edu-item2{
  grid-row-start: 2;
  grid-column-start: 1;
}

.edu-info{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 0;
  margin: 0;
}


.skills{
  height: auto;
  color: rgb(46, 46, 46);
  position: relative;
  align-content: center;
  text-align: center;
  grid-template-columns: 40% 60%;
  background-color: whitesmoke;
  border-bottom: thistle;
}
.skillsHeader{
  padding-top: 10px;
  text-align: center;

}
.skillsGraph{
  grid-column-start: 2;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.skill{
  height: 100px;
  margin-bottom: 10px;
}

.skillHeader{
  margin: 0;
  padding: 0;
  color: black;
  font-size: 28px;
  font-weight:500;
  text-align: center;
}

.skillBars{
  grid-column-start: 2;
  justify-content: center;
  align-content: center;
}

.skillHeaderContainer{
  display: flex;
  flex-direction: row;
}

.skillPercentOutline{
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  height: 25px;
  width: 800px;
  grid-column-start: 1;
  grid-column-end: 10;
  background-color: grey;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
}

.skillPercent{
  grid-column-start: 1;
  background-color: black;
}

.skillIcon{
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.percentStart{
  padding: 0;
  grid-column-start: 1;
}

.percentEnd{
  padding: 0;
  grid-column-end: 10;
}

.experienceContainer{
  grid-column-start: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.experienceStory{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
}
